<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147352333673-3957sff5do7gh49e5o36s2auvdncoje1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147352333673-3957sff5do7gh49e5o36s2auvdncoje1</string>
	<key>API_KEY</key>
	<string>AIzaSyBorkRJBQ1LUgoPecw5qJNpjBtEFooi8UA</string>
	<key>GCM_SENDER_ID</key>
	<string>147352333673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recycleApp</string>
	<key>PROJECT_ID</key>
	<string>recycle-app-2b55a</string>
	<key>STORAGE_BUCKET</key>
	<string>recycle-app-2b55a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147352333673:ios:e15617e8389ff46f59a1f8</string>
</dict>
</plist>